#Django
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/
db.sqlite3
media/
staticfiles/

#Angular
node_modules/
.angular/
dist/
.app/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.editorconfig
.vscode/

#Operating System
.DS_Store
Thumbs.db
desktop.ini

#IDEs
.idea/
*.swp
*.bak