/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.markdown-body h1 {
    @apply text-2xl font-bold mb-4 mt-2;
}

.markdown-body h2 {
    @apply text-xl font-semibold mb-3 mt-2;
}

.markdown-body p {
    @apply mb-2;
}

.markdown-body ul {
    @apply mb-2;
    padding-left: 1.5rem;
    list-style-type: disc;
}

.markdown-body input[type="checkbox"] {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 align-middle cursor-pointer;
    margin-right: 0.5rem;
    margin-top: -0.15rem;
}

.markdown-body li:has(input[type="checkbox"]) {
    list-style-type: none;
    margin-left: -1.5rem;
}
